*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

a {
    cursor: pointer;
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
}

ul,
ol,
li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 600;
    font-family: "Epilogue", sans-serif;
    line-height: 120%;
    letter-spacing: -3%;
}

html,
body {
    line-height: 150%;
    font-size: 24px;
    font-family: "Inter", sans-serif;
    color: #ffffff;
    background: #272020;
    line-height: 150%;
    letter-spacing: -3%;
}

html {
    height: 100%;
    overflow-y: scroll;
    scroll-behavior: smooth; 
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #583D3B;
    border-radius: 2px;
}

::-webkit-scrollbar-track {
    background: #272020;
}

::selection {
    background: #583D3B;
    color: #ffffff;
}

/* Header ------------------------------------------------------------------------------------*/
.header {
    position: fixed;
    width: 100%;
    align-items: center;
    z-index: 6;
}

.nav {
    margin: 0;
    padding: 0;
    margin: 40px 40px 0;
}

.nav-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
}

.big-logo {
    display: block; 
}

.mini-logo {
    display: none;
    height: 45px;
}

.navbar-buttons {
    display: flex;
    align-items: center;
}

.get-app-mini {
    width: 190px;
    height: 45px;
    font-size: 24px;
    background-color: #FDEA98; 
    color: #272020;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    text-transform: uppercase;
}

.get-app-mini:hover {
    background-color: #C181B0; 
}

.theme-switcher {
    cursor: pointer;
    background-color: transparent;
    border: none;
    padding: 0;
    margin-left: 26px;
}

.theme-icon {
    width: 24px;
    height: 24px; 
}

/* Section cover ------------------------------------------------------------------------------------*/
.cover {
    position: relative;
    height: 803px;
    background-size: cover;
    background-position: center;
}

.layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.layer1 {
    background-image: url('assets/img/cover_block/layer-1.svg');
    background-size: cover;
    z-index: 1;
    max-width: 100%;
    background-position: center;
}

.layer2 {
    background-image: url('assets/img/cover_block/layer-2.svg');
    background-size: cover;
    z-index: 2;
    max-width: 100%;
    background-position: center;
}

.layer3 {
    background-image: url('assets/img/cover_block/layer-3.svg');
    background-size: cover;
    z-index: 3;
}

.overlay-cover {
    position: absolute;
    top: 300px;
    right: 15%;
    z-index: 4;
    padding-left: 5%;
}

.overlay-cover img {
    max-width: 100%;
    height: auto;
}

.overlay-image {
    width: 100%;
    height: 100%;
}

.get-app-button {
    position: absolute;
    top: 81%;
    left: 79%;
    transform: translate(-50%, -50%);
    width: 334px;
    height: 88px;
    font-size: 34px;
    font-family: "Inter", sans-serif;
    background-color: #ffffff;
    border: 3px solid #000000;
    border-radius: 10px;
    font-weight: bold;
    color: #000000;
    cursor: pointer;
}

.get-app-button:hover {
    background-color: #FDEA98;
    animation: 3s;
}

.popup {
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 260px;
    height: 190px;
    background-color: #ffffff;
    color: #000000;
    box-shadow: 0 5px 15px #0000004d;
    border-radius: 10px;
    padding: 20px;
    box-sizing: border-box;
    z-index: 1000;
}

.popup p {
    text-align: center;
    margin-top: 20%;
}

.close {
    position: absolute;
    top: 0px;
    right: 10px;
    cursor: pointer;
}

.image-770, .image-1000, .image-1240 {
    display: none;
}

/* Section about ------------------------------------------------------------------------------------*/
.about {
    margin-top: 70px;
}

.about-image {
    position: relative;
    width: 100%;
    height: 803px;
    background-image: url('assets/img/about-block/about-cover.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: background-position 0.5s ease;
}

.about-info {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 875px;
    z-index: 4;
    padding: 0 40px;
    max-width: 640px;
    background-color: #272020;
    height: 307px;
    border-radius: 40px;
}

.about-heading {
    margin-bottom: 20px;
}

.about-text-1 {
    margin-bottom: 10px;
}

.overlay-about {
    position: absolute;
    top: 310px;
    z-index: 4;
    left: 60%;
}

/* Media ------------------------------------------------------------------------------------*/
@media screen and (max-width: 350px) {
    .nav {
        margin: 40px 20px 0;
    }
}

@media screen and (max-width: 400px) {
    .get-app-button {
        height: 25%;
    }
}

@media screen and (max-width: 500px) {
    html,
    body {
    font-size: 18px;
    }

    .get-app-mini {
        width: 110px;
        font-size: 14px;
        margin-left: 15px;
    }

    .theme-switcher {
        margin-left: 15px;
    }

    .about-info {
        height: 240px;
    }

    .overlay-about {
        left: 8%;
    }
}

@media screen and (max-width: 530px) {
    .get-app-button {
        left: 53%;
        width: 80%;
        font-size: 28px;
    }
}

@media screen and (max-width: 600px) {
    .overlay-cover {
        right: 7%;
    }

    .overlay-about {
        margin-right: 40px;
    }

    .overlay-about img {
        max-width: 100%;
        height: auto;
    }
}

@media screen and (max-width: 770px) {
    .image-default, .image-1000 {
        display: none;
    }
    .image-770 {
        display: inline;
    }

    .get-app-button {
        left: 54%;
    }
}

@media screen and (max-width: 800px) {
    .big-logo {
        display: none;
    }

    .mini-logo {
        display: block;
    }

    .cover {
        background-size: auto 100%;
    }
}

@media screen and (min-width: 771px) and (max-width: 1000px) {
    .image-default, .image-1240 {
        display: none;
    }

    .image-1000 {
        display: inline;
    }

    .get-app-button {
        left: 68%;
    }

    .overlay-about {
        left: 20%;
    }
}


@media screen and (max-width: 1180px) {
    .overlay-about {
        left: 10%;
    }
}

@media screen and (min-width: 1001px) and (max-width: 1240px) {
    .image-default, .image-1000 {
        display: none;
    }

    .image-1240 {
        display: inline;
    }

    .get-app-button {
        left: 75%;
    }
}

@media screen and (max-width: 1350px) {
    .about-image {
        background-position: 10% center;
    }
}